<style>

</style>

<footer>

    <div class="f-info">
        <div class="f-info-socials">
            <a target="_blank" href="https://www.instagram.com/ak_03_usman/profilecard/?igsh=eDNmZ3k5NHRzaHFt"><i
                    class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/usman.akhtar.923171"> <i
                    class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://x.com/ususmanakhtar?t=OXsqX7vXEmqs9PNWqsXDVA&s=08"> <i
                    class="fa-brands fa-x-twitter"></i></a>
            <a target="_blank"
                href="https://www.linkedin.com/in/usman-akhtar-4a787a243?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <!-- <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div> -->
        <div class="f-info-brands"> Copyright&copy; Globe&#127760;. Designed by Usman Akhtar </div>

</footer>