<% layout("/layouts/boilerplates") -%>
    <link rel="stylesheet" href="/css/form.css">


    <div class="row">
        <div class="col-4 offset-4 highlight">

            <h2>SignUp</h2>
            <div class="container mt-4">
                <form method="post" action="/signup" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label><br>
                        <input type="text" name="username" placeholder="username" class="form-control" required />
                        <div class="invalid-feedback">enter valid username</div>
                        <div class="valid-feedback">username looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">email</label><br>
                        <input type="email" name="email" placeholder="email" class="form-control" required />
                        <div class="invalid-feedback">enter valid email</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label><br>
                        <input type="password" name="password" class="form-control" placeholder="*******" required />
                        <div class="invalid-feedback">enter strong password</div>
                    </div>
                    <br>
                    <button class="btn btn-primary w-100">Register</button>
                    <br><br>
                </form>
                <p class="text-center mt-3">Have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>